In [2]:
import pandas as pd
import numpy as np
from statsmodels.graphics.tsaplots import month_plot,quarter_plot,plot_acf,plot_pacf

In [3]:
df = pd.read_csv("../data/Daily Bike Sharing training.csv")
df.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,1/1/2011,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,1/2/2011,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,1/3/2011,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,1/4/2011,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,1/5/2011,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

In [4]:
df.info()
df.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 701 entries, 0 to 700
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     701 non-null    int64
 1   dteday      701 non-null    object
 2   season      701 non-null    int64
 3   yr          701 non-null    int64
 4   mnth        701 non-null    int64
 5   holiday     701 non-null    int64
 6   weekday     701 non-null    int64
 7   workingday  701 non-null    int64
 8   weathersit  701 non-null    int64
 9   temp        701 non-null    float64
 10  atemp       701 non-null    float64
 11  hum         701 non-null    float64
 12  windspeed   701 non-null    float64
 13  casual      701 non-null    int64
 14  registered  701 non-null    int64
 15  cnt         701 non-null    int64
dtypes: float64(4), int64(11), object(1)
memory usage: 87.8+ KB

Index(['instant', 'dteday', 'season', 'yr', 'mnth', 'holiday', 'weekday',
       'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed',
       'casual', 'registered', 'cnt'],
      dtype='object')

In [5]:
df = df.rename(columns={'cnt':'y',
                        'dteday':'ds'})

In [6]:
df['ds'] = pd.to_datetime(df['ds'],format="%m/%d/%Y")
df.head()

,instant,ds,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,y
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

In [7]:
weather_sit = pd.get_dummies(df['weathersit'],drop_first= True)
df = pd.concat([df,weather_sit],axis=1)

In [8]:
df = df.rename(columns={2:'weathersit_2',
                        3:'weathersit_3'})
df.columns

Index(['instant', 'ds', 'season', 'yr', 'mnth', 'holiday', 'weekday',
       'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed',
       'casual', 'registered', 'y', 'weathersit_2', 'weathersit_3'],
      dtype='object')

In [9]:
df.drop(columns=['instant','yr','season','mnth','weekday','casual','registered'],inplace=True)

In [10]:
df.head()

,ds,holiday,workingday,weathersit,temp,atemp,hum,windspeed,y,weathersit_2,weathersit_3
0,2011-01-01,0,0,2,0.344167,0.363625,0.805833,0.160446,985,True,False
1,2011-01-02,0,0,2,0.363478,0.353739,0.696087,0.248539,801,True,False
2,2011-01-03,0,1,1,0.196364,0.189405,0.437273,0.248309,1349,False,False
3,2011-01-04,0,1,1,0.200000,0.212122,0.590435,0.160296,1562,False,False
4,2011-01-05,0,1,1,0.226957,0.229270,0.436957,0.186900,1600,False,False

In [ ]:
# df.to_csv("../data/preprocessed-data.csv")

## Replace The 29/30 of October with previous value

checkout the prophet_model.ipynb

The RMSE is 1401.0

The MAE is 1114.0

The MAPE is 109.98%

A MAPE of 109.98% suggests that, on average, the model's predictions are more than 100% off from the actual values, which indicates very poor predictive performance. This could mean:

- The model isn't well-fitted to the data.
- There might be large outliers affecting the error.
- The data distribution or scale isn't suitable for the current model.

In [12]:
to_replace =  (df.loc[df.ds == '2012-10-28'].y.values[0])
df.loc[df.ds == '2012-10-29','y'] = to_replace
df.loc[df.ds == '2012-10-30','y'] = to_replace

In [13]:
df.to_csv("../data/preprocessed-data.csv")