# Prophet Model

In [ ]:
import pandas as pd
import numpy as np
from statsmodels.graphics.tsaplots import month_plot,quarter_plot,plot_acf,plot_pacf

In [23]:
df = pd.read_csv("../data/Daily Bike Sharing training.csv")
df.head()

   instant    dteday  season  yr  ...  windspeed  casual  registered   cnt
0        1  1/1/2011       1   0  ...   0.160446     331         654   985
1        2  1/2/2011       1   0  ...   0.248539     131         670   801
2        3  1/3/2011       1   0  ...   0.248309     120        1229  1349
3        4  1/4/2011       1   0  ...   0.160296     108        1454  1562
4        5  1/5/2011       1   0  ...   0.186900      82        1518  1600

[5 rows x 16 columns]

In [24]:
df.info()
df.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 701 entries, 0 to 700
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     701 non-null    int64
 1   dteday      701 non-null    object
 2   season      701 non-null    int64
 3   yr          701 non-null    int64
 4   mnth        701 non-null    int64
 5   holiday     701 non-null    int64
 6   weekday     701 non-null    int64
 7   workingday  701 non-null    int64
 8   weathersit  701 non-null    int64
 9   temp        701 non-null    float64
 10  atemp       701 non-null    float64
 11  hum         701 non-null    float64
 12  windspeed   701 non-null    float64
 13  casual      701 non-null    int64
 14  registered  701 non-null    int64
 15  cnt         701 non-null    int64
dtypes: float64(4), int64(11), object(1)
memory usage: 87.8+ KB

Index(['instant', 'dteday', 'season', 'yr', 'mnth', 'holiday', 'weekday',
       'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed',
       'casual', 'registered', 'cnt'],
      dtype='object')

In [25]:
df = df.rename(columns={'cnt':'y',
                        'dteday':'ds'})

In [26]:
df['ds'] = pd.to_datetime(df['ds'],format="%m/%d/%Y")
df.head()

   instant         ds  season  yr  ...  windspeed  casual  registered     y
0        1 2011-01-01       1   0  ...   0.160446     331         654   985
1        2 2011-01-02       1   0  ...   0.248539     131         670   801
2        3 2011-01-03       1   0  ...   0.248309     120        1229  1349
3        4 2011-01-04       1   0  ...   0.160296     108        1454  1562
4        5 2011-01-05       1   0  ...   0.186900      82        1518  1600

[5 rows x 16 columns]

In [ ]:
weather_sit = pd.get_dummies(df['weathersit'],drop_first= True)
df = pd.concat([df,weather_sit],axis=1)

Index([   'instant',         'ds',     'season',         'yr',       'mnth',
          'holiday',    'weekday', 'workingday', 'weathersit',       'temp',
            'atemp',        'hum',  'windspeed',     'casual', 'registered',
                'y',            2,            3],
      dtype='object')

In [29]:
df = df.rename(columns={2:'weathersit_2',
                        3:'weathersit_3'})
df.columns

Index(['instant', 'ds', 'season', 'yr', 'mnth', 'holiday', 'weekday',
       'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed',
       'casual', 'registered', 'y', 'weathersit_2', 'weathersit_3'],
      dtype='object')

In [30]:
df.drop(columns=['instant','yr','season','mnth','weekday','casual','registered'],inplace=True)

In [31]:
df.head()

          ds  holiday  workingday  ...     y  weathersit_2  weathersit_3
0 2011-01-01        0           0  ...   985          True         False
1 2011-01-02        0           0  ...   801          True         False
2 2011-01-03        0           1  ...  1349         False         False
3 2011-01-04        0           1  ...  1562         False         False
4 2011-01-05        0           1  ...  1600         False         False

[5 rows x 11 columns]

In [32]:
df.to_csv("../data/preprocessed-data.csv")